#menu{
    margin: 200px;
}
body{
    background-image: url(../images/homePageBackground.jpg);
}
#start,#help,#credits{
    width: 200px;
    margin: auto;
    margin-left: 90%;
    margin-top: 20px;
}

.btn{
    border-radius: 100px;
}