html{
    height:100%;
    margin: 0;
}

body{
    /*height: inherit;
    margin: inherit;*/
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

header{
    height: 100px;
}
footer{
    height: 50px;
}
